
    .button-fab 
    {
      position: fixed;
      z-index: 500 !important;
    }


.productsHeader
{
  .itemInfo
  {
    color:coral;
    font-size: 1.2em;
    font-weight: 900;
    top:7px;
    right:0px;
    position:absolute;
  }
}