.user
{
    .button-fab 
    {
      position: fixed;
      z-index: 500 !important;
    }
    .red
    {color:red;}
}


.usersHeader
{
  .itemInfo
  {
    color:coral;
    font-size: 1.2em;
    font-weight: 900;
    top:7px;
    right:30px;
    position:absolute;
  }
}