<ion-header>
  <ion-navbar brand-bg>
    <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
    <ion-icon name="book"></ion-icon>
  </button>
    <ion-title *ngIf="selectedItem">
      {{selectedItem.titel}}</ion-title>
    <ion-buttons end>
      <ion-icon name="flash" *ngIf="isoffline"> </ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class='itemDetails'>
  <div *ngIf="selectedItem" class="selection">
    <div class="author" *ngIf="selectedItem.autor">
      <ion-icon name="person"></ion-icon>
      {{selectedItem.autor}}
    </div>
    <div class="publisher" *ngIf="selectedItem.verlag">
      <ion-icon name="cube"></ion-icon>
      {{selectedItem.verlag}}
    </div>
    <ion-list>
      <ion-item *ngIf="selectedItem.isbn != 0">ISBN: {{selectedItem.isbn}}</ion-item>
      <ion-item *ngIf="selectedItem.beschreibung" class="description"> {{selectedItem.beschreibung}} </ion-item>
      <ion-item>Kassen: {{selectedItem.class1 ? '1 ' : ''}} {{selectedItem.class2 ? '2 ' : ''}} {{selectedItem.class3 ? '3 ' : ''}}
        {{selectedItem.class4 ? '4 ' : ''}} {{selectedItem.class5 ? '5 ' : ''}} {{selectedItem.class6 ? '6 ' : ''}} {{selectedItem.class7
        ? '7 ' : ''}} {{selectedItem.class8 ? '8 ' : ''}} {{selectedItem.class9 ? '9' : ''}}

      </ion-item>
      <ion-item *ngIf="selectedItem.productID">Id: {{selectedItem.productID}} </ion-item>
      <ion-item *ngIf="selectedItem.fach">Fach: {{selectedItem.fach}}</ion-item>
      <ion-item *ngIf="selectedItem.teilbereich">Sub: {{selectedItem.teilbereich}} </ion-item>
      <div *ngIf="selectedItem.Exemplars"><br>
        Exemplare:
        <ion-item  *ngFor="let ex of selectedItem.Exemplars">
        {{ex.exemplarId}} 
        <span *ngIf="ex.lend" class="red" (click)="userTapped($event, ex.lend.user)">{{ex.lend.user.firstname + " "+ ex.lend.user.name}}</span>
        <span *ngIf="!ex.lend" class="green" >verfügbar</span>
     
        </ion-item>
      </div>
      <p *ngIf="isoffline">
        Keine Online Verbindung vorhanden, Daten sind u.U. nicht aktuell
      </p>
    </ion-list>
  </div>
</ion-content>