<ion-header>
  <ion-navbar brand-bg>
    <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
    <ion-icon name="book"></ion-icon>
  </button>
    <ion-title *ngIf="selectedItem">
      {{selectedItem.titel}}</ion-title>
    <ion-buttons end>
      <ion-icon name="flash" *ngIf="isoffline"> </ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class='itemDetails'>
  <div *ngIf="selectedItem" class="selection">
    <div class="author" *ngIf="selectedItem.autor">
      <ion-icon name="person"></ion-icon>
      {{selectedItem.autor}}

    </div>
    <div class="publisher" *ngIf="selectedItem.verlag">
      <ion-icon name="cube"></ion-icon>

      {{selectedItem.verlag}}

    </div>
    <p *ngIf="selectedItem.isbn != 0">ISBN: {{selectedItem.isbn}}</p>
    <hr>
    <p *ngIf="selectedItem.beschreibung" class="description"> {{selectedItem.beschreibung}} </p>
    <p *ngIf="selectedItem.class1">Kassen: {{selectedItem.class1}}</p>
    <p *ngIf="selectedItem.productID">Id: {{selectedItem.productID}} </p>
    <p *ngIf="selectedItem.fach">Fach: {{selectedItem.fach}}</p>
    <p *ngIf="selectedItem.teilbereich">Sub: {{selectedItem.teilbereich}} </p>
    <p *ngIf="selectedItem.exemplars">
      Exemplare:
      <label ion-item *ngFor="let ex of selectedItem.exemplars">
        {{ex.exemplarId}} 
        <span *ngIf="ex.lend" class="red" (click)="userTapped($event, ex.lend.user)">{{ex.lend.user.firstname + " "+ ex.lend.user.name}}</span>
        <span *ngIf="!ex.lend" class="green" >verfügbar</span>
     
      </label>
    </p>
    <p *ngIf="isoffline">
      Keine Online Verbindung vorhanden, Daten sind u.U. nicht aktuell
    </p>
  </div>
</ion-content>